{% extends 'base.html' %}

{% block extra_headers %}
<meta name="description" value="{{ page.description }}" />
{% endblock %}

{% block content %}
{{ page.content|raw }}

<div style="width:100%; height:25px;">&nbsp;</div>
<div><a href="../../">&laquo; Return to Client Portal Home</a>
{% endblock %}