{% extends 'base.html' %}

{% block content %}

<div class="hero-unit">
	<h1>Hello, {{ CUSTOMER_USER }}</h1>
	Welcome to your personalized client portal. 
    
    {{ pagemenu|raw }}
</div>


{% endblock %}