<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ website_title }} - {% block pagetitle %}{% endblock %}</title>
  {{ GENERATOR_META|raw }}
  	
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ CSS_ROOT }}bootstrap.min.css" />

  <!-- Custom CSS -->
  <link href="{{ CSS_ROOT }}modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{ STATIC_ROOT }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{{ STATIC_ROOT }}js/bootstrap.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      
    {% block extra_headers %}
    {% endblock %}


      
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container"> 
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="../../"> <img class="hidden-xs img-responsive" src="{{ STATIC_ROOT }}images\epilogosm.png"> <span class="hidden-sm hidden-md hidden-lg">EnablePoint</span> </a> </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="../../">Home</a> </li>
          <li> <a href="../../page/2/">About Us</a> </li>
          <li> <a href="../../page/3/">Products</a> </li>
          <li> <a href="../../page/4/">Processing Services</a> </li>
          <li> <a href="../../contact/">Contact Us</a> </li>
          <li> <a href="../../register/">Product Demo</a> </li>
          <li> <a href="../../clients/">Client Login</a> </li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>

{% if can_edit %}
<div style="height:100px;">This space is required by the editor</div>
{% endif %}
        
{% block content %}
content goes here
{% endblock %}	

    <div style="padding-top:150px;">
        <p style="text-align:center">
            <a href="http://enablepoint.com/page/11/"><img alt="" src="http://enablepoint.com/inventory/fas_icon.png" style="height:75px; padding-right:20px;" /></a>&nbsp;&nbsp;&nbsp;
            <a href="http://enablepoint.com/page/13/"><img alt="" src="http://enablepoint.com/inventory/oars_icon.png" style="height:75px; padding-right:20px;" /></a>&nbsp;&nbsp;&nbsp;
            <a href="http://enablepoint.com/page/16/"><img alt="" src="http://enablepoint.com/inventory/csdb_icon.png" style="height:75px; padding-right:20px;" /></a>&nbsp;&nbsp;&nbsp;
            <a href="http://enablepoint.com/page/25"><img alt="" src="http://enablepoint.com/inventory/gip_icon.png" style="height:75px; padding-right:20px;" /></a>&nbsp;&nbsp;&nbsp;
            <a href="http://enablepoint.com/page/4/"><img alt="" src="http://enablepoint.com/inventory/amps_icon.png" style="height:75px; padding-right:20px;" /></a>
        </p>
    </div>

  <div class="row">
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
        	<p>Copyright &copy; EnablePoint Inc. 2017</p>
        </div>
      </div>
    </footer>
  </div>
  <!-- /.container --> 

  <!-- Script to Activate the Carousel --> 
  <script type="text/javascript">
    $('.carousel').carousel({
        interval: 3500 //changes the speed
    });
  </script>
</body>
</html>