{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container wrapper-main wrapper-contact">
        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-7 col-xs-12">
                <!-- Embedded Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2947.7742572205557!2d-83.35304368454345!3d42.36864997918623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824b3458d31d41f%3A0x3926e42b675c1d4c!2sEnable+Point!5e0!3m2!1sen!2sus!4v1455310916966" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-5 col-xs-12">
                <h1>Contact Us</h1><br>
				<h4><strong>Headquarters:</strong></h4>
                <p class="text-center">
                    31157 Plymouth Rd # 208<br>Livonia, MI 48150<br>
                </p>
                <p class="text-center"><i class="fa fa-phone"></i> 
                    <strong>Phone Number</strong>: <a href="tel:+734 268 6058">(734) 268-6058</a>
                </p>
                <p class="text-center"><i class="fa fa-phone"></i> 
                    <strong>Fax</strong>: <a href="tel:+313 346 1437">(313)-346-1437</a>
                </p>

                <br/>

                <p>Please send correspondence to our mailing address:</p>

                <p>EnablePoint Inc.</p>

                <p>PO box 511218</p>

                <p>Livonia Mi 48151</p>


                <!--<ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>-->
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to    set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row form-contact">
            <div class="col-md-8 col-xs-12">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send Message</button>
                    <br/><br/><br/>
                </form>
            </div>

            <div class="col-md-4 col-xs-12">
                <img alt="EnablePoint" class="img-full img-badge" src="..\..\..\..\templates\enablepoint\assets/images/enablepoint-badge.png">
            </div>
        </div>
    </div>
        
{% endblock %}