{% extends 'base.html' %}

{% block extra_headers %}
<script>
$(document).ready(function(){
	$("#Products-0").click(function(){
		$("#fas_icon").fadeToggle();
	});
	$("#Products-1").click(function(){
		$("#oars_icon").fadeToggle();
	});
	$("#Products-2").click(function(){
		$("#csdb_icon").fadeToggle();
	});
	$("#Products-3").click(function(){
		$("#gip_icon").fadeToggle();
	});
	$("#Products-4").click(function(){
		$("#amps_icon").fadeToggle();
	});
});
</script>
{% endblock %}

{% block content %}
<h2>Register for a Product Demonstration</h2>
<h3>{{ message }}</h3>
<p>Please fill out as much information as possible. A representative will be contacting you with the meeting number and URL.</p>

<form method="post" class="form-horizontal">
<fieldset>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="products">Products</label>
  <div class="col-md-4" style="text-align:left;">
  <div class="checkbox">
    <label for="Products-0">
      <input type="checkbox" name="products[]" id="Products-0" value="FAS">
      False Alarm Information Tracking Software (FAS)
    </label>
	</div>
  <div class="checkbox">
    <label for="Products-1">
      <input type="checkbox" name="products[]" id="Products-1" value="OARS">
      Online Alarm Registration System (OARS)
    </label>
	</div>
  <div class="checkbox">
    <label for="Products-2">
      <input type="checkbox" name="products[]" id="Products-2" value="CSDB">
      Community Service Database Billing (CSDB)
    </label>
	</div>
  <div class="checkbox">
    <label for="Products-3">
      <input type="checkbox" name="products[]" id="Products-3" value="IP">
      Government Inventory Program (IP)
    </label>
	</div>
  <div class="checkbox">
    <label for="Products-4">
      <input type="checkbox" name="products[]" id="Products-4" value="AMPS">
      Alarm Management Processing Services (AMPS)
    </label>
	</div>
  </div>
</div>

<div style="width:100%; height:1px; clear:both;">&nbsp;</div>
 <div style="margin-left:auto; margin-right:auto; width:80%; text-align:center;">
        <div id="fas_icon"  style="display:none; float:left; padding:20px;"><img alt="" src="http://enablepoint.managedalarms.com/inventory/fas_icon.png" style="width:150px"/></div>
        <div id="oars_icon" style="display:none; float:left; padding:20px;"><img alt="" src="http://enablepoint.managedalarms.com/inventory/oars_icon.png" style="width:150px" /></div>
        <div id="csdb_icon" style="display:none; float:left; padding:20px;"><img alt="" src="http://enablepoint.managedalarms.com/inventory/csdb_icon.png" style="width:150px" /></div>
        <div id="gip_icon" style="display:none; float:left; padding:20px;"><img alt="" src="http://enablepoint.managedalarms.com/inventory/gip_icon.png" style="width:150px" /></div>
        <div id="amps_icon" style="display:none; float:left; padding:20px;"><img alt="" src="http://enablepoint.managedalarms.com/inventory/amps_icon.png" style="width:150px" /></div>
    </div>
<div style="width:100%; height:1px; clear:both;">&nbsp;</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="business_name">Organization Name</label>  
  <div class="col-md-4">
  <input id="business_name" name="business_name" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="contact_name">Contact Name</label>  
  <div class="col-md-4">
  <input id="contact_name" name="contact_name" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="mailing_address">Mailing Address</label>  
  <div class="col-md-4">
  <input id="mailing_address" name="mailing_address" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="physical_address">Physical Address</label>  
  <div class="col-md-4">
  <input id="physical_address" name="physical_address" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telephone">Telephone</label>  
  <div class="col-md-4">
  <input id="telephone" name="telephone" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="url">Url</label>  
  <div class="col-md-4">
  <input id="url" name="url" type="text" placeholder="" class="form-control input-md">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-2 col-md-offset-5" style="padding-top:15px; clear:both;">
    <button id="Submit" name="Submit" class="btn btn-success">Submit</button>
    <button id="reset" name="reset" class="btn btn-danger">Reset</button>
  </div>
</div>

</fieldset>
</form>


<div style="height:200px;">&nbsp;</div>
{% endblock %}