{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h2>Register for a Product Demonstration</h2>
<h3>{{ message }}</h3>
<p>Please fill out as much information as possible. A representative will be contacting you with the meeting number and URL.</p>
<form method="post">
  <table align="center" cellpadding="3" cellspacing="3">
    <tr>
      <td width="149" align="left">Organization Name:</td>
      <td width="210" align="left"><input type="text" name="business_name" ></td>
    </tr>
    <tr>
      <td align="left">Mailing Address:</td>
      <td align="left"><input type="text" name="mailing_address" ></td>
    </tr>
    <tr>
      <td align="left">Physical Address:</td>
      <td align="left"><input type="text" name="physical_address" ></td>
    </tr>
    <tr>
      <td align="left">Contact Name:</td>
      <td align="left"><input type="text" name="contact_name" ></td>
    </tr>
    <tr>
      <td align="left">Telephone:</td>
      <td align="left"><input type="text" name="telephone"></td>
    </tr>
    <tr>
      <td align="left">Email:</td>
      <td align="left"><input type="text" name="email" ></td>
    </tr>
    <tr>
      <td align="left">URL:</td>
      <td align="left"><input type="text" name="url" ></td>
    </tr>
    <tr>
      <td align="left">Product</td>
      <td align="left"><select name="product" id="product">
        <option value="All Products" selected>All Products</option>
        <option value="False Alarm Information Tracking Software">False Alarm Information Tracking Software</option>
        <option value="Online Alarm Registration System">Online Alarm Registration System</option>
        <option value="Community Service Database Billing">Community Service Database Billing</option>
        <option value="Government Inventory Program">Government Inventory Program</option>
        <option value="Alarm Management Processing Services">Alarm Management Processing Services</option>
      </select></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="submit" value="Send" /></td>
    </tr>
  </table>
</form>
<div style="height:200px;">&nbsp;</div>
{% endblock %}