{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript">

function editUser(id)
{
	var loc = "{{ URL_ROOT }}admin/client/" + id + "/";
	window.location = loc;
}


</script>
{% endblock %}

{% block content %}

<h2>Manage Clients</h2>

{{ pagemenu|raw }}

<a href="{{ URL_ROOT }}admin/client/">Add a Client</a>

<!-- <h2>Other</h2>

<ul>
	{% if HAS_MAIN_PAGE %}
	<li><a href="{{ URL_ROOT }}?edit=1">Edit Main Page</a></li>
	{% endif %}
	<li><a href="{{ URL_ROOT }}admin/events">Events</a></li>
	<li><a href="{{ URL_ROOT }}admin/directory/">Directory</a></li>
	<li><a href="{{ URL_ROOT }}admin/inventory/">Inventory</a></li>
	<li><a href="{{ URL_ROOT }}admin/config/">Configuration Settings</a></li>
	<li><a href="{{ URL_ROOT }}admin/validate/">Validate Install</a></li>
	<li><a href="{{ URL_ROOT }}admin/logout/">Logout</a></li>
</ul> -->
{% endblock %}

