/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

h2{
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
	font-weight: bold;
}

p{
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand img {
	height:25px;
}

.navbar-brand{
	padding: 13px 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    padding-top: 5px;
    border-top: transparent solid 3px;
    margin: 5px;
    padding: 0;
    margin: 10px 15px 12px;
    padding-top: 3px;
    transition: all 0.3s;
}

.navbar-inverse .navbar-nav>li:hover>a {
    border-color: #2d7ee3;
}

html {
	text-align: center;
	 animation-duration: .6s;
    animation-name: fadeIn;
}

a.navbar-brand {
	position: static;
	vertical-align: sub;
	text-align: left;
}

div.panel.panel-default {
	animation-duration: .8s;
    animation-name: fadeIn;
	width:  90%;
	height: auto;
}

.col-md-3 {
	margin: auto;	
}

img.img-responsive1 {
	max-width: 100%;
    height: auto;
	min-height: 70%;
	width: auto;
}

span.columns {
	text-align: center;
}

div.fill {
	animation-name: fadeIn;
	animation-duration: .4s;
}

div.fill img {
	max-width: 100%;
    height: auto;
	margin: auto;
	width: 100%;
}

div.panel-body1 {
	padding-top: 10px;
	width: auto;
	height: 400px;
	margin: auto;
	font-family: Times New Roman;
	font-size: 34px;
}

.banner-text {
	opacity: 1;
}

#button-hover {
	transform: scale(1,1);
	transition-duration: .3s;
}

#button-hover:hover {
	transform: scale(1.08,1.08);
	transition-duration: .3s;
}

img#badge {
	padding: 20px;
	transform: scale(1,1);
	transition-duration: .3s;
}

img#badge:hover {
	transform: scale(1.08,1.08);
	transition-duration: .3s;
}

div.panel-body.a {
	padding: 10px 10px 10px 10px;
}

div.panel-heading.h4 {
	font-family: impact;
}

#myCarousel {
	width: 100%;
	height: auto;
}

@keyframes fadeAndScaleDelay {
    from {
        opacity: 0;
        transform: scale(.7, .7);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeAndScaleDownDelay {
    from {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.7, .7);
    }

    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.page-header-welcome {
	text-align: center;
	animation-name: fadeIn;
	animation-duration: .8s;
	font-family: Times New Roman;
}

div#case-study-center.col-md-8 {
	 margin: auto;
	 float: none;
}

h2.page-header {
	font-family: "Open Sans", sans-serif;
}

ul.nav.navbar-nav.navbar-right {
	padding-right: 0;
	font-size: 15px;
}

ul.nav.navbar-nav.navbar-right li {
	font-family: arial;
	font-weight: bold;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: auto;
	width: 90%;
	margin: auto;
	margin: auto;
}

div.item.active {
	max-height: 40%:
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 50%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.panel-body {
	width: 100%;
	height: 530px;
	text-align: center;
	margin: auto;

}

a.btn.btn-primary {
	position: static;
	top: 100px;
	
}

a.btn.btn-default {
	margin: 10px 10px 10px 10px;
}

header.carousel .fill style {
	height: 75%;
	width: 85%;
}

img.webfab-img-text  {
	padding-bottom: 10px;
}

span.services-box {
	width: 190px;
	height: 300px;
}

/* Wrapper main */

.wrapper-main p {
	text-align: left;
	font-size: 16px;
}

.wrapper-main img {
	max-width: 100%;
}

.wrapper-main img.img-full {
	width: 100%;
}

.wrapper-main .page-header {
	max-width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 50px;
	text-align: center;
	border: none;
}

.wrapper-main h2 {
	font-size: 20px;
}

.wrapper-main .container-content {
	margin-bottom: 30px;
}

.wrapper-main .container-content h2 {
	padding-top: 30px;
}

.wrapper-main .list-images-products {
	padding-left: 0;
}

.wrapper-main .list-images-products li {
    display: inline;
    list-style: none;
}

.wrapper-main .list-images-products li img{
	width: 300px;
	max-width: 100%;
	padding: 30px;
}


/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

h4.services-paragraph {
	
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: Times New Roman;
	font-size: 22px;
}

.glyphicon.glyphicon-alert {
	color: #337AB7;
	padding: 2% 2% 2% 2%;
}

button, 
html input[type=button], 
input[type=reset], 
input[type=submit],
.btn-primary,
.btn-primary:hover{
	background: #2d7ee3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.text-center {
	text-align: center !important;
}

.form-contact .btn-primary {
	width: 100%;
}

.img-badge {
	padding: 50px 0;
}

.wrapper-main.wrapper-contact {
	padding-top: 30px;
}

.wrapper-main.wrapper-contact .form-contact{
	padding-top: 30px;
}

/* Footer Styles */

footer {
    margin: 0;
    background: #222222;
    color: #fff;
    padding: 15px 0 5px;
}

/* Responsive Styles */

@media (max-width:1200px) {
	nav .container{
		width: 94%;
	}
}

@media (max-width:1090px) {
	.navbar-nav>li>a{
		max-width: 110px;
	}

	ul.nav.navbar-nav.navbar-right li:nth-child(1) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(2) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(3) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(5) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(6) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(7) a{
		margin-top: 20px;
	}

	.navbar-brand {
	    padding: 23px 15px;
	}
}

@media (max-width: 1048px) {
    .navbar-nav>li>a{
		max-width: 82px;
	}

	ul.nav.navbar-nav.navbar-right li:nth-child(6) a,
	ul.nav.navbar-nav.navbar-right li:nth-child(7) a{
		margin-top: 10px;
	}
}

@media (max-width: 1000px) {
	ul.nav.navbar-nav.navbar-right li:nth-child(6) a{
		max-width: 60px;
	}

	ul.nav.navbar-nav.navbar-right li:nth-child(7) a{
		max-width: 45px;
	}
}

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 930px){
	.navbar-inverse .navbar-nav>li>a{
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (max-width: 862px) {
	ul.nav.navbar-nav.navbar-right li:nth-child(2) a{
		max-width: 45px;
		margin-top: 10px;
	}

	ul.nav.navbar-nav.navbar-right li:nth-child(5) a{
		max-width: 58px;
		margin-top: 10px;
	}
}

@media (max-width: 826px){
	nav .container{
		width: 100%;
	}
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 80%;
    }

    .navbar-brand .hidden-xs.img-responsive{
    	display: block !important;
    }

    .navbar-inverse .navbar-brand span{
    	display: none;
    }

    .navbar-inverse .navbar-brand{
    	padding-top: 14px;
    }

    .navbar-inverse .navbar-toggle{
    	border: none;
    	background: transparent;
    }

    .navbar-inverse .navbar-toggle:focus, 
    .navbar-inverse .navbar-toggle:hover{
    	background: transparent;
    }

    ul.nav.navbar-nav.navbar-right li a{
    	max-width: none !important;
    	margin-top: 15px !important;
    }

    ul.nav.navbar-nav.navbar-right li:hover a{
    	border-color: transparent;
    }

    ul.nav.navbar-nav.navbar-right{
    	margin-top: 0;
    }
}
