/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-brand img {
	height:25px;
	
	

	

}
html {
	text-align: center;
	 animation-duration: .6s;
    animation-name: fadeIn;
}


a.navbar-brand {
	position: fixed;
	right: 75%;
	vertical-align: sub;
	text-align: left;
	
}
div.panel.panel-default {
	animation-duration: .8s;
    animation-name: fadeIn;
	width:  90%;
	height: auto;
	

}
.col-md-3 {
	margin: auto;
	
	
}
img.img-responsive {
	

}
img.img-responsive1 {
	max-width: 100%;
    height: auto;
	min-height: 70%;
	width: auto;
	

}
span.columns {
	text-align: center;
}

div.fill {
	animation-name: fadeIn;
	animation-duration: .4s;
}

div.fill img {
	max-width: 100%;
    height: auto;
	margin: auto;
	width: 100%;
	

}
.fab-image-circle {
	
.oars-image-circle {
	
	
}
div.panel-heading {
	

}
div.panel-body1 {
	padding-top: 10px;
	width: auto;
	height: 400px;
	margin: auto;
	font-family: Times New Roman;
	font-size: 34px;
	

}
.banner-text {
	opacity: 1;
}

#button-hover {
	transform: scale(1,1);
	transition-duration: .3s;
	
}
#button-hover:hover {
	transform: scale(1.08,1.08);
	transition-duration: .3s;
}
img#badge {
	
	padding: 20px;
	transform: scale(1,1);
	transition-duration: .3s;
}
img#badge:hover {
	transform: scale(1.08,1.08);
	transition-duration: .3s;
	
}
div.panel-body.a {
	padding: 10px 10px 10px 10px;
}
img.fab-image-cricle

}
div.panel-heading.h4 {
	font-family: impact;

}
div.panel-heading {
	
}
#myCarousel {
	width: 100%;
	height: auto;
}
@keyframes fadeAndScaleDelay {
    from {
        opacity: 0;
        transform: scale(.7, .7);
		
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes fadeAndScaleDownDelay {
    from {
        opacity: 0;
        transform: scale(1.3, 1.3);
		
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.7, .7);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}
.page-header-welcome {
	text-align: center;

	animation-name: fadeIn;
	animation-duration: .8s;
	font-family: Times New Roman;
}
div#case-study-center.col-md-8 {
	 margin: auto;
	 float: none;
}
}
h2.page-header {
	font-family: Times New Roman;

}
ul.nav.navbar-nav.navbar-right {
	padding-right: 10%;
	margin-left: 22%;
	font-size: 15px;

}

ul.nav.navbar-nav.navbar-right li {
	font-family: arial;
	font-weight: bold;
}
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: auto;
	width: 90%;
	margin: auto;
	margin: auto;
	}

div.item.active {
	max-height: 40%:


}
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 50%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


.panel-body {
	width: 100%;
	height: 530px;
	text-align: center;
	margin: auto;

}
a.btn.btn-primary {
	position: static;
	top: 100px;
	
}
a.btn.btn-default {
	margin: 10px 10px 10px 10px;
}

header.carousel .fill style {
	height: 75%;
	width: 85%;
}

img.webfab-img-text  {
	padding-bottom: 10px;
}
span.services-box {
	width: 190px;
	height: 300px;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}
h4.services-paragraph {
	
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: Times New Roman;
	font-size: 22px;
}
.glyphicon.glyphicon-alert {
	color: #337AB7;
	padding: 2% 2% 2% 2%;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 80%;
    }
}
